@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

input {
  max-width: 100%;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: normal;
  font-family: "Gilroy", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

a,
button,
input {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input,
button,
textarea {
  font-family: "Gilroy", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: bold;
  font-family: "SFProDisplay", sans-serif;
  line-height: 120%;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

.input,
.textarea {
  padding: 10px 0;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #BABDDB;
}

.btn {
  border: 2px solid transparent;
  padding: 15px 0;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  display: inline-block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  letter-spacing: 0.05em;
  border-radius: 50px;
  text-align: center;
}

.btn-form {
  max-width: 330px;
  background-color: transparent;
  border: 2px solid #387CFF;
  border-radius: 10px;
  color: #387CFF;
}

.btn-form:hover {
  color: #f9f9f9;
  background-color: #387CFF;
}

.consult-btn {
  max-width: 158px;
  background: #2A2C31;
  border-radius: 50px;
  margin-top: 18px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.slick-slider:hover .slick-arrow.slick-prev {
  left: 80px;
}

.slick-slider:hover .slick-arrow.slick-next {
  right: 80px;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  border-radius: 50px;
  width: 95px;
  height: 95px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.42);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: -80px;
  z-index: 1;
}

.slick-arrow.slick-prev:hover {
  left: 80px;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: -80px;
}

.slick-arrow.slick-next:hover {
  right: 80px;
}

/* Стрелка не активная */

/* Точки (булиты) */

.slick-dots {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #4381F8;
  border: 1px solid #4381F8;
  border-radius: 50px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slick-dots li:not(:last-child) {
  margin-right: 20px;
}

/* Активная точка */

.slick-dots li.slick-active {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  border-color: #f9f9f9;
}

/* Элемент точки */

.slick-dots li button {
  display: none;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes menuAnimate {
  0% {
    -webkit-transform: translate(-300px, 100%);
            transform: translate(-300px, 100%);
  }

  50% {
    -webkit-transform: translate(0, 95%);
            transform: translate(0, 95%);
  }

  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

@keyframes menuAnimate {
  0% {
    -webkit-transform: translate(-300px, 100%);
            transform: translate(-300px, 100%);
  }

  50% {
    -webkit-transform: translate(0, 95%);
            transform: translate(0, 95%);
  }

  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

@-webkit-keyframes animatePrise {
  0% {
    background-color: #689ecb;
  }

  20% {
    background-color: #219bc3;
  }

  40% {
    background-color: #b2d3e1;
  }

  60% {
    background-color: #f2cfda;
  }

  80% {
    background-color: #c66aab;
  }

  100% {
    background-color: #68417f;
  }
}

@keyframes animatePrise {
  0% {
    background-color: #689ecb;
  }

  20% {
    background-color: #219bc3;
  }

  40% {
    background-color: #b2d3e1;
  }

  60% {
    background-color: #f2cfda;
  }

  80% {
    background-color: #c66aab;
  }

  100% {
    background-color: #68417f;
  }
}

.progressbarr-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  z-index: 9;
}

.progressbarr-wrapper .progressbar {
  width: 100%;
  height: 5px;
  background-color: #FBBC05;
}

.storages {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 480px;
}

.storages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: block;
  background-color: #000;
  border: 1px solid #C99910;
  border-radius: 10px;
  padding: 16px 20px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.storages__item:hover {
  border-color: #000;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header {
  background: -o-linear-gradient(201.25deg, #2D71F5 1.88%, #508AFA 87.01%);
  background: linear-gradient(248.75deg, #2D71F5 1.88%, #508AFA 87.01%);
  padding: 50px 0 180px;
  position: relative;
  color: #f9f9f9;
}

.header::after {
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  background-color: #4381F8;
  border-radius: 40px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 46px;
  right: 70px;
  z-index: 1;
}

.header::before {
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  background-color: #4381F8;
  border-radius: 40px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: 13%;
  right: -150px;
  z-index: 1;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__logo {
  display: inline-block;
  margin-bottom: 110px;
}

.header__title {
  max-width: 710px;
}

.header__title span {
  color: #FBBC05;
}

.header__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 470px;
  padding: 6px;
  background: #7DA9FF;
  border: 2px solid #95B9FF;
  border-radius: 20px;
  margin: 40px 0 60px;
  font-size: 26px;
  color: #f9f9f9;
}

.header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  padding: 8px;
  background: #FBBC05;
  border-radius: 15px;
  margin-right: 18px;
}

.header__icon img {
  width: 100%;
}

.header__img {
  position: absolute;
  right: 0;
  top: 5%;
  -webkit-filter: drop-shadow(90px 134px 74px rgba(0, 0, 0, 0.19));
          filter: drop-shadow(90px 134px 74px rgba(0, 0, 0, 0.19));
}

.privilage {
  padding: 195px 0;
  position: relative;
}

.privilage::before {
  content: '';
  display: block;
  width: 700px;
  height: 700px;
  background: -o-linear-gradient(217.31deg, #EEF4FF 29.77%, #FFFFFF 75.03%);
  background: linear-gradient(232.69deg, #EEF4FF 29.77%, #FFFFFF 75.03%);
  border-radius: 80px;
  position: absolute;
  top: 50%;
  left: -200px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  z-index: 1;
}

.privilage__body {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.privilage__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.privilage__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
}

.privilage__title {
  max-width: 522px;
  margin-bottom: 70px;
}

.privilage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.privilage__item:not(:last-child) {
  margin-bottom: 60px;
}

.privilage__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  background: #4381F8;
  border-radius: 15px;
  margin-right: 38px;
}

.privilage__icon img {
  width: 100%;
}

.privilage__text {
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  max-width: 480px;
}

.privilage__text-title {
  color: #4381F8;
  margin-bottom: 8px;
}

.problem {
  padding: 95px 0 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f9f9f9;
  position: relative;
}

.problem::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(355.57deg, #000000 -3.48%, rgba(0, 0, 0, 0) 80.12%);
  background: linear-gradient(94.43deg, #000000 -3.48%, rgba(0, 0, 0, 0) 80.12%);
  position: absolute;
  top: 0;
  left: 0;
}

.problem__body {
  position: relative;
  z-index: 1;
}

.problem__body p {
  max-width: 700px;
  margin: 30px 0 95px;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
}

.problem__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
  width: 286.48px;
  height: 284px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #464646;
  -webkit-backdrop-filter: blur(34px);
          backdrop-filter: blur(34px);
  border-radius: 10px;
}

.problem__slider-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.decision {
  padding: 160px 0 130px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39.02%, #F8F9FB), to(rgba(248, 249, 251, 0)));
  background: -o-linear-gradient(top, #F8F9FB 39.02%, rgba(248, 249, 251, 0) 100%);
  background: linear-gradient(180deg, #F8F9FB 39.02%, rgba(248, 249, 251, 0) 100%);
  position: relative;
}

.decision::before {
  content: '';
  display: block;
  width: 700px;
  height: 700px;
  background: -o-linear-gradient(217.31deg, #EEF4FF 29.77%, #FFFFFF 75.03%);
  background: linear-gradient(232.69deg, #EEF4FF 29.77%, #FFFFFF 75.03%);
  border-radius: 80px;
  position: absolute;
  bottom: -90%;
  left: -200px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
}

.decision__title {
  text-align: center;
  margin-bottom: 79px;
}

.decision__body {
  position: relative;
  z-index: 1;
}

.decision__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.decision__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
}

.decision__item-content {
  height: 100%;
  padding: 55px 30px;
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.decision__item-content:hover {
  background-color: #fafafa;
}

.decision__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  background: #4381F8;
  border-radius: 15px;
  margin-right: 38px;
  position: absolute;
  top: -24px;
  left: 30px;
}

.decision__img img {
  width: 100%;
}

.decision__text {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: #717493;
}

.howtouse {
  padding: 50px 0 120px;
}

.howtouse__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

.howtouse__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.howtouse__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}

.howtouse__title {
  max-width: 403px;
  margin-bottom: 30px;
}

.howtouse__list {
  margin-bottom: 40px;
}

.howtouse__item {
  color: #2B6FF4;
  font-weight: 600;
  line-height: 130%;
  position: relative;
  padding-left: 30px;
}

.howtouse__item:not(:last-child) {
  margin-bottom: 35px;
}

.howtouse__item::after {
  content: '';
  display: block;
  width: 11px;
  height: 18px;
  background-image: url(../img/image/lightning.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-section {
  padding: 50px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  max-width: 720px;
  margin-left: auto;
  padding: 38px 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.form__title {
  max-width: 470px;
}

.form__title span {
  color: #387CFF;
}

.form__subtitle {
  margin: 20px 0;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  color: #717493;
}

.form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form .input-group .input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-bottom: 15px;
}

.form .input-group .textarea-wrapp {
  width: 100%;
  position: relative;
}

.form .input-group .textarea {
  resize: none;
  padding-right: 50px;
}

.form .input-group .textarea + label {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form .btn-form {
  margin-top: 45px;
}

.partners {
  padding: 50px 0;
}

.partners__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: auto;
}

.partners__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
}

.partners__item:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.partners__img {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.partners__img:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.bonuses {
  color: #f9f9f9;
  padding: 100px 0;
}

.bonuses__body {
  width: 95%;
  background-color: #4381F8;
  border-radius: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.bonuses__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
}

.bonuses__title {
  max-width: 585px;
  margin-bottom: 30px;
}

.bonuses__item {
  font-weight: 600;
  line-height: 130%;
  position: relative;
  padding-left: 50px;
}

.bonuses__item:not(:last-child) {
  margin-bottom: 17px;
}

.bonuses__item::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px 10px;
  background: #4282FF;
  -webkit-box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.12);
  background-image: url(../img/image/lightning.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bonuses__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 85px;
  z-index: 2;
}

.bonuses .storages {
  position: absolute;
  right: -5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bonuses .storages__item {
  border: none;
  width: 235px;
  padding-left: 55px;
}

.bonuses .storages__item:hover {
  -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
          transform: translateX(8px);
}

.bonuses .storages__item:first-child {
  background-color: #F29A10;
  margin-bottom: 5px;
}

.bonuses .storages__item:last-child {
  background-color: #15CF74;
}

.documents {
  padding: 70px 0 90px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39.02%, #F8F9FB), to(rgba(248, 249, 251, 0)));
  background: -o-linear-gradient(top, #F8F9FB 39.02%, rgba(248, 249, 251, 0) 100%);
  background: linear-gradient(180deg, #F8F9FB 39.02%, rgba(248, 249, 251, 0) 100%);
}

.documents__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents__colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
}

.documents__paymants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents__paymants h3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.documents__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.documents__title {
  color: #333333;
}

.documents__files-item {
  display: inline-block;
}

.documents__files-item p {
  color: #2B6FF4;
}

.documents__files-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 164px;
  height: 213px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.15));
  margin: 38px 40px 30px 0;
}

.documents__files-img span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93px;
  font-size: 22px;
  padding: 7px;
  border-radius: 50px;
  font-weight: 400;
  color: #f9f9f9;
  background: rgba(0, 0, 0, 0.26);
}

.documents__files-img span:before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/image/download.png);
  background-repeat: no-repeat;
  background-position: center;
}

.question {
  padding: 50px 0;
  position: relative;
}

.question::after {
  content: '';
  display: block;
  width: 180px;
  height: 180px;
  background: #F5F8FF;
  border-radius: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -50px;
  left: 15%;
  z-index: 0;
}

.question__title {
  text-align: center;
  margin-bottom: 40px;
}

ul.accordion-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  z-index: 2;
}

ul.accordion-list li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #FFF;
  padding: 30px 70px 30px 30px;
  margin: 0 0 30px 0;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

ul.accordion-list li.active h4:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0;
}

ul.accordion-list li.active h4::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

ul.accordion-list li.active .answer::after {
  -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

ul.accordion-list li h4 {
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.01em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

ul.accordion-list li h4::after,
ul.accordion-list li h4::before {
  content: "";
  display: block;
  background-color: #000000;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  z-index: 2;
}

ul.accordion-list li h4::after {
  height: 26px;
  width: 2px;
  right: -18px;
}

ul.accordion-list li h4::before {
  width: 26px;
  height: 2px;
  right: -30px;
}

ul.accordion-list li div.answer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin: 25px 0 0 0;
  padding: 0;
  cursor: pointer;
}

ul.accordion-list li div.answer::after {
  content: '';
  display: block;
  width: 150%;
  height: 1px;
  background-color: #E0E0E0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
      -ms-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

ul.accordion-list li div.answer p {
  position: relative;
  display: block;
  color: #2B6FF4;
  font-weight: 300;
  padding: 10px 0 0 0;
  cursor: pointer;
  line-height: 150%;
}

.footer {
  padding: 60px 0 120px;
  position: relative;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer::before {
  content: '';
  display: block;
  width: 700px;
  height: 700px;
  background: -o-linear-gradient(217.31deg, #EEF4FF 29.77%, #FFFFFF 75.03%);
  background: linear-gradient(232.69deg, #EEF4FF 29.77%, #FFFFFF 75.03%);
  border-radius: 100px;
  position: absolute;
  bottom: -80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
      -ms-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
  z-index: 1;
}

.footer::after {
  content: '';
  display: block;
  width: 385px;
  height: 385px;
  background: #F5F8FF;
  border-radius: 60px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -120px;
  right: -85px;
  z-index: 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.footer__title {
  font-style: "Gilroy", sans-serif;
  max-width: 945px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 15px;
}

.footer__title span {
  color: #FBBC05;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 720px;
  width: 100%;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  text-align: center;
}

.footer__item a {
  color: #717493;
}

.footer__item a:hover {
  color: blue;
}

.footer__item-img {
  max-width: 50px;
  margin: 0 auto 10px;
}

@media (max-width: 1292px) {
  h2 {
    font-size: 43px;
  }

  .container {
    max-width: 970px;
  }

  .header__img {
    right: -120px;
  }

  .partners__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .bonuses {
    padding: 0 0 70px 0;
  }

  .bonuses__body {
    width: 100%;
  }

  .bonuses__img {
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .bonuses .storages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    top: 0;
    right: auto;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .bonuses .storages__item {
    width: auto;
    padding-left: 16px;
  }

  .bonuses .storages__item:first-child {
    margin-bottom: 0;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .header {
    padding: 70px 0;
  }

  .header::after {
    top: -150px;
  }

  .header__logo {
    margin-bottom: 50px;
    max-width: 200px;
  }

  .header__img {
    display: none;
  }

  .privilage {
    padding: 70px 0;
  }

  .privilage__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .privilage__img {
    margin-top: 30px;
  }

  .problem {
    padding: 70px 0;
  }

  .decision {
    padding: 70px 0;
  }

  .decision__title {
    margin-bottom: 50px;
  }

  .decision__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .decision__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 50px;
  }

  .decision__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .decision__item:not(:first-child) {
    margin-top: 50px;
  }

  .howtouse {
    padding: 0 0 70px 0;
  }

  .howtouse__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .howtouse__img {
    margin-bottom: 30px;
  }

  .howtouse__list {
    margin-bottom: 30px;
  }

  .howtouse__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .form__subtitle {
    font-size: 22px;
  }

  .bonuses {
    padding: 0 0 70px 0;
  }

  .bonuses__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bonuses__img {
    display: none;
  }

  .bonuses .storages {
    margin-top: 30px;
  }

  .documents {
    padding: 70px 0;
  }

  .documents__colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .documents__colum:last-child {
    margin-top: 30px;
    text-align: center;
  }

  .documents__files-img {
    margin: 38px 40px 30px 40px;
  }

  ul.accordion-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer {
    padding: 70px 0;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    overflow: hidden;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  .container {
    max-width: none;
    padding: 0 15px;
  }

  .header__info {
    font-size: 20px;
    margin: 40px 0;
  }

  .privilage__title {
    margin-bottom: 30px;
    max-width: none;
  }

  .privilage__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .privilage__icon {
    margin-right: 15px;
  }

  .privilage__text {
    font-size: 18px;
  }

  .problem {
    padding: 50px 0;
  }

  .problem__body p {
    font-size: 20px;
    margin: 30px 0;
  }

  .decision {
    padding: 50px 0;
  }

  .howtouse {
    padding: 0 0 50px 0;
  }

  .form {
    padding: 30px;
  }

  .partners__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    margin-right: 15px;
  }

  .bonuses {
    padding: 0 0 50px 0;
  }

  .bonuses__body {
    padding: 25px;
  }

  .documents {
    padding: 50px 0;
  }

  .footer {
    padding: 0 0 50px 0;
  }
}

@media (max-width: 600px) {
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 550px) {
  .storages__item {
    padding: 10px 15px;
  }

  .header {
    padding: 30px 0;
  }

  .privilage {
    padding: 30px 0;
  }

  .problem {
    padding: 30px 0 60px;
  }

  .decision {
    padding: 30px 0;
  }

  .decision__item-content {
    padding: 30px 20px 20px 20px;
  }

  .decision__text {
    font-size: 18px;
  }

  .howtouse {
    padding: 0 0 30px 0;
  }

  .form {
    padding: 20px;
  }

  .form__subtitle {
    margin: 10px 0;
  }

  .form .input-group .input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .form .btn-form {
    margin-top: 15px;
  }

  .bonuses {
    padding: 0 0 30px 0;
  }

  .bonuses .storages__item {
    padding: 10px 15px;
  }

  .bonuses .storages__item:hover {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .documents {
    padding: 30px 0;
  }

  .documents__files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .documents__files-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .documents__files-img {
    width: auto;
    height: 130px;
    margin: 30px 0;
  }

  .question {
    padding: 30px 0;
  }

  ul.accordion-list li {
    padding: 20px 50px 20px 20px;
  }

  .footer {
    padding: 0 0 30px 0;
  }

  .footer__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 15px;
  }
}

@media (max-width: 440px) {
  .footer__item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 15px;
  }
}
@supports (-webkit-appearance:none){
.howtouse__item::after{background-image:url(../img/image/lightning.webp)}
.bonuses__item::after{background-image:url(../img/image/lightning.webp)}
.documents__files-img span:before{background-image:url(../img/image/download.webp)}
}

 @media (max-width: 1292px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 440px){

@supports (-webkit-appearance:none){

}

}
